<div class="content">
  <h2>Album Creator</h2>
  <form [formGroup]="albumForm">
    <div>
      <mat-form-field class="meta-field">
        <input #albumId matInput placeholder="Album ID" formControlName="albumId" autofocus>
      </mat-form-field>
      <button mat-icon-button (click)="searchAlbum()" [disabled]="searchDisabled">
        <mat-icon>search</mat-icon>
      </button>
      <span class="search-error">{{this.searchError}}</span>
    </div>
    <div class="disable-album">
      <mat-checkbox formControlName="disabled">Disabled</mat-checkbox>
    </div>
    <mat-form-field class="title-field" appearance="outline">
      <mat-label>Chinese title, pinyin and translation</mat-label>
      <textarea matInput rows="3" formControlName="chineseTitle" placeholder="Enter each on a new line"></textarea>
    </mat-form-field>
    <div>
      <mat-form-field class="title-field">
        <input matInput placeholder="English title" formControlName="englishTitle">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="meta-field">
        <input matInput placeholder="Release date" [matDatepicker]="picker" formControlName="releaseDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>Tracks:</div>
    <div formArrayName="tracks" *ngFor="let item of tracksForm.controls; let i = index">
      <mat-form-field floatLabel="never" class="track-select">
        <span matPrefix class="track-num">{{i + 1}}</span>
        <mat-select placeholder="Select a track" [formControlName]="i" class="song">
          <mat-option *ngFor="let song of songs" [value]="song.id">
            {{song.title.chinese.zht}} - {{song.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="addTrackForm(i + 1)" [disabled]="searchDisabled">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="removeTrackForm(i)" [disabled]="searchDisabled">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <button mat-flat-button color="accent" class="action-button" (click)="save()" [disabled]="buttonsDisabled">
      Save
    </button>
    <button mat-flat-button color="primary" class="action-button" (click)="generateJson()">
      Generate JSON
    </button>
    <button mat-flat-button color="primary" class="action-button" (click)="clear()">
      Clear
    </button>
    <div class="response">{{this.response}}</div>
    <div [class.hide]="hideOutput">
      <mat-checkbox [formControl]="readonly" class="readonly">Read-only</mat-checkbox>
      <mat-form-field class="output" appearance="outline">
        <textarea matInput rows="10" [formControl]="outputForm" [readonly]="readonly.value"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>