<div class="content">
  <h2>Song Creator</h2>
  <form [formGroup]="songForm">
    <div>
      <mat-form-field class="meta-field">
        <input #songId matInput placeholder="Song ID" formControlName="songId" autofocus>
      </mat-form-field>
      <button mat-icon-button (click)="searchSong()" [disabled]="searchDisabled">
        <mat-icon>search</mat-icon>
      </button>
      <span class="search-error">{{this.searchError}}</span>
    </div>
    <div class="disable-song">
      <mat-checkbox formControlName="disabled"
        matTooltip="Check to prevent users from clicking on this song">
        Disabled
      </mat-checkbox>
    </div>
    <mat-form-field class="title-field" appearance="outline">
      <mat-label>Chinese title, pinyin and translation</mat-label>
      <textarea matInput rows="3" formControlName="chineseTitle" placeholder="Enter each on a new line"></textarea>
    </mat-form-field>
    <div>
      <mat-form-field class="title-field">
        <input matInput placeholder="English title" formControlName="englishTitle">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="meta-field">
        <input matInput placeholder="Lyricist" formControlName="lyricist">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="meta-field">
        <input matInput placeholder="Composer" formControlName="composer">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="meta-field">
        <input matInput placeholder="Arranger" formControlName="arranger">
      </mat-form-field>
    </div>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Lyrics</mat-label>
      <textarea matInput rows="10" formControlName="lyrics"></textarea>
    </mat-form-field>
    <button mat-flat-button color="accent" class="action-button" (click)="save()" [disabled]="buttonsDisabled">
      Save
    </button>
    <button mat-flat-button color="primary" class="action-button" (click)="generateJson()">
      Generate JSON
    </button>
    <button mat-flat-button color="primary" class="action-button" (click)="clear()">
      Clear
    </button>
  </form>
  <div class="response">{{this.response}}</div>
  <div [class.hide]="hideOutput">
    <mat-checkbox [formControl]="readonly" class="readonly">Read-only</mat-checkbox>
    <mat-form-field class="output" appearance="outline">
      <textarea matInput rows="10" [formControl]="outputForm" [readonly]="readonly.value"></textarea>
    </mat-form-field>
  </div>
  <mat-card class="helper">
    <p>
      <strong>L</strong> - translated song lyric<br>
      <strong>B</strong> - paragraph break<br>
      <strong>T</strong> - text
    </p>
    <p>Blank lines before control letters are optional.</p>
    <b>Example:</b>
    <p class="example">
      L<br>
      然後呢<br>
      rán hòu ne<br>
      And then?<br>
      <br>
      B<br>
      <br>
      L<br>
      他們說你的心<br>
      tā men shuō nǐ de xīn<br>
      They said that your heart<br>
      T<br>
      Note: "好好" can mean "very good"
    </p>
  </mat-card>
</div>