.app-footer {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 16px 32px;
  color: white;
  line-height: 16px;
  font-size: 14px;
}
.footer-spacer {
  flex: 1 1 auto;
}
a {
  color: white;
  text-decoration: none;
  margin: 0 16px;
}
a:hover {
  color: white;
  text-decoration: underline;
}
.label {
  margin-left: 16px;
  text-align: right;
}