.app-footer {
  align-items: center;
  min-height: 48px;
  padding: 16px 32px;
  color: white;
}
.footer-spacer {
  flex: 1 1 auto;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
.label {
  margin-left: 16px;
  text-align: right;
}
.label.small {
  margin: 16px 0 0;
  text-align: center;
}