.app-footer {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 8px 32px;
  color: white;
}
.footer-spacer {
  flex: 1 1 auto;
}
.about-us {
  margin-right: 16px;
}
.label {
  line-height: 14px;
  text-align: right;
  font-size: 12px;
}