.toolbar {
  position: fixed;
  top: 0;
  z-index: 999;
}
.toolbar-title {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;
  padding-left: 8px;
  padding-right: 8px;
}
.logo-icon {
  width: 24px;
  height: 24px;
}
.title-text {
  color: white;
  padding-left: 8px;
  font-size: 20px;
}