<div class="content">
  <h2>About Us</h2>
  <p>Welcome to Mayday World, where you can find Mayday lyrics, English translations, and more!</p>
  <p>All original Chinese lyrics are owned by their respective artists and/or record labels.</p>
  <div class="section"></div>
  <p>Contact us at: <a href="mailto:info@maydayworld.com">info@maydayworld.com</a></p>
  <div class="section"></div>
  <span>See the code for this website on</span>
  <a mat-icon-button href="https://github.com/khliew/maydayworld" class="github">
    <img src="../../assets/github-mark-black.png">
  </a>
</div>