.sidenav-container {
  width: 100%;
}
.sidenav {
  width: 280px;
  margin-top: 64px; /* offset so it appears below the toolbar */
}
.sidenav-content {
  display: flex;
  flex-direction: column;
}
.title-chinese {
  /* font-size: 14px; */
}
.title-english {
  /* color: gray; */
  font-size: 12px;
}
.album-list {
  padding-bottom: 32px;
}
.album-item {
}
.section-header {
  padding-top: 40px;
}