.sidenav-container {
  width: 100%;
}
.sidenav {
  width: 280px;
  top: 64px !important; /* offset so it appears below the toolbar */
}
.sidenav-content {
  display: flex;
  flex-direction: column;
}
.album-title {
  font-size: 20px;
  padding: 16px 16px 8px 16px;
}