.content {
  margin-bottom: 64px;
  max-width: 720px;
  margin: 0 auto;
  padding: 32px;
}
.section {
  margin-bottom: 32px;
}
.section-header {
  margin-bottom: 16px;
}
.album-list {
}
.album-card {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 16px;
}
.album-card:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.album-title {
  padding-bottom: 8px;
}
.title-chinese {
}
.title-english {
}
.release-date {
  color: gray;
}