.container {
  background-color: white;
  padding: 32px 32px 64px;
}
.album-header {
  margin-bottom: 32px;
}
.album-title {
  font-size: 20px;
  margin-bottom: 16px;
}
.title-chinese {
  font-size: 22px;
}
.title-translation {
  color: gray;
  font-size: 16px;
  line-height: 18px;
  padding-top: 4px;
}
.trans-english {
  color: darkblue;
}
.title-english {
  font-size: 22px;
  padding-top: 8px;
}
.release-date {
  font-size: 16px;
}
.track-list {
  max-width: 496px;
}
.track-item {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.track-item.disabled {
  pointer-events: none;
  cursor: default;
  color: lightgray;
  border: initial;
}
.track-english {
  color: gray;
  padding-left: 8px;
  font-size: 14px;
}
.track-item.disabled .track-english {
  color: lightgray;
}