.section {
  width: 496px;
  margin: 32px auto;
}
.section-header {
}
.album-list {
}
.album-card {
  width: 100%;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 16px;
}
.album-card:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.album-title {
  padding-bottom: 8px;
}
.title-chinese {
}
.title-english {
}
.release-date {
  color: gray;
}