<div class="container">
  <div class="content">
    <ng-container *ngIf="discography">
      <ng-container *ngFor="let section of discography.sections">
        <div *ngIf="!!section.albums && section.albums.length > 0" class="section">
          <h3 class="section-header">
            {{section.label}}
          </h3>
          <mat-grid-list class="album-list" cols="2" rowHeight="102px" gutterSize="16px">
            <mat-grid-tile *ngFor="let album of section.albums">
              <div [routerLink]="['/album', album.albumId]" class="album-card" matRipple>
                <div class="album-title">
                  <div class="title-chinese">{{album.title.chinese.zht}}</div>
                  <div class="title-english">{{album.title.english}}</div>
                </div>
                <div class="release-date">{{ album.releaseDate | date }}</div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>