.sidenav-container {
  width: 100%;
}
.sidenav {
  width: 280px;
  margin-top: 64px; /* offset so it appears below the toolbar */
}
.sidenav-content {
  display: flex;
  flex-direction: column;
}
.album-title {
  font-size: 20px;
  padding: 16px;
}
.title-chinese {
  font-weight: bold;
  font-size: 20px;
}
.title-translation {
  color: gray;
  font-size: 14px;
  padding-top: 4px;
}
.title-english {
  font-size: 20px;
  padding-top: 8px;
}
.track-list {
  padding-bottom: 32px;
}