<div class="content">
  <ng-container *ngIf="discography">
    <ng-container *ngFor="let section of discography.sections">
      <div *ngIf="!!section.albums && section.albums.length > 0" class="section">
        <h3 class="section-header">
          {{section.label}}
        </h3>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px grid">
          <div *ngFor="let album of section.albums" [routerLink]="['/album', album.albumId]" class="album-card"
            matRipple fxFlex="calc(50% - 16px)" fxFlex.lt-sm="100">
            <div class="album-title">
              <div class="title-chinese">{{album.title.chinese.zht}}</div>
              <div class="title-english">{{album.title.english}}</div>
            </div>
            <div class="release-date">{{ album.releaseDate | date }}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>