.album-list {
  width: 500px;
  margin: 16px auto;
}
.album-card {
  width: 100%;
  cursor: pointer;
  border: 1px solid gray;
  margin: 8px;
  padding: 16px;
}
.album-card:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.album-title {
  padding-bottom: 8px;
}
.title-chinese {
}
.title-english {
}
.release-date {
  color: gray;
}