<mat-toolbar color="primary" class="toolbar">
  <a mat-flat-button routerLink="/albums" class="toolbar-home" disableRipple>
    <span class="home-text">Mayday World 五月天世界</span>
  </a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container mat-typography">
  <mat-sidenav #sidenav class="sidenav" mode="side" role="navigation" fixedInViewport="true" fixedTopGap="64"
    disableClose="true">
    <router-outlet name="sidenav"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <main class="content-container">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>