<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button fxHide [fxShow.lt-sm]="sidenavEnabled" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-flat-button routerLink="/albums" class="toolbar-title" [ngClass.lt-sm]="{ 'with-menu': sidenavEnabled}" disableRipple>
    <span class="title-text">Mayday World 五月天世界</span>
  </a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container mat-typography">
  <mat-sidenav #sidenav class="sidenav" role="navigation" fixedInViewport="true"autoFocus="false">
    <router-outlet name="sidenav"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <main class="content-container">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>