<main class="mat-typography container">
  <mat-toolbar color="primary" class="toolbar">
    <a mat-flat-button routerLink="/albums" class="toolbar-home" disableRipple>
      <span class="home-text">Mayday World 五月天世界</span>
    </a>
  </mat-toolbar>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
  <footer class="app-footer">
    <span class="footer-spacer"></span>
    <a mat-button routerLink="/about" class="about-us">About Us</a>
    <div class="label">
      <div>© 2019 Mayday World</div>
      <div>v{{appVersion}}</div>
    </div>
  </footer>
</main>