.toolbar {
  position: fixed;
  top: 0;
  z-index: 999;
}
.toolbar-menu {
}
.toolbar-title {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;
}
.toolbar-title.with-menu {
  padding-left: 0px;
}
.title-icon {
  padding-left: 8px;
}
.title-text {
  color: white;
  padding-left: 8px;
  font-size: 20px;
}
.sidenav-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sidenav {
  width: 240px;
}
.sidenav-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content-container {
  flex: 1;
  padding-top: 64px; /* offset so it appears below the toolbar */
}