<div class="container">
  <h2>Log In</h2>
  <form [formGroup]="credentials">
    <mat-form-field class="access">
      <input matInput type="email" formControlName="email" placeholder="Email" autofocus>
    </mat-form-field>
    <mat-form-field class="access">
      <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>
    <button mat-flat-button color="primary" class="log-in" (click)="logIn()" [disabled]="credentials.disabled">
      Log in
    </button>
  </form>
</div>