<ng-container *ngIf="album$ | async as album">
  <a mat-icon-button [routerLink]="['../../../']">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <div class="album-title">
    <div class="title-chinese" (click)="toggleTitleTranslation()">
      {{album.title.chinese.zht}}
    </div>
    <div class="title-translation">
      {{album.title.chinese.zhp}}
      <br>
      {{album.title.chinese.eng}}
    </div>
    <div class="title-english">{{album.title.english}}</div>
  </div>
  <mat-nav-list class="track-list">
    <a mat-list-item *ngFor="let track of album.tracks" [routerLink]="['/album', album.id, 'song', track.id]" class="track-item"
      routerLinkActive="active-nav-item">
      {{track.number}}. {{track.title}}
    </a>
  </mat-nav-list>
</ng-container>