.sidenav-container {
  width: 100%;
}
.sidenav {
  width: 280px;
  margin-top: 64px; /* offset so it appears below the toolbar */
}
.sidenav-content {
  display: flex;
  flex-direction: column;
}
.album-title {
  padding: 0px 16px 8px;
}
.title-chinese {
}
.title-translation {
  font-size: 12px;
  line-height: 14px;
  color: gray;
}
.title-english {
  padding-top: 4px;
}
.track-list {
  padding-bottom: 32px;
}
.track-item {
}