<ng-container *ngIf="album">
  <a mat-icon-button [routerLink]="['../../../']">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <div class="album-title">
    <div class="title-chinese">
      {{album.title.chinese.zht}}
    </div>
    <div class="title-translation">
      {{album.title.chinese.zhp}}
      <br>
      <span class="trans-english">{{album.title.chinese.eng}}</span>
    </div>
    <div class="title-english">{{album.title.english}}</div>
  </div>
  <mat-nav-list class="track-list">
    <a mat-list-item *ngFor="let song of album.songs; let i = index;" [routerLink]="['/album', album.albumId, 'song', song.songId]"
      class="track-item" [class.disabled]="song.disabled" routerLinkActive="active-nav-item">
      {{i + 1}}. {{song.title.chinese.zht}}
    </a>
  </mat-nav-list>
</ng-container>