.container {
  background-color: white;
  padding: 32px 32px 64px;
}
.song-breadcrumb {
  margin-bottom: 32px;
}
.song-header {
  margin-bottom: 64px;
}
.song-title {
  margin-bottom: 32px;
}
.song-tag {
  font-size: 16px;
  margin-bottom: 4px;
}
.title-chinese {
  font-size: 22px;
}
.title-translation {
  color: gray;
  padding-top: 4px;
}
.trans-pinyin {
  font-size: 14px;
  line-height: 16px;
}
.trans-english {
  font-size: 16px;
  line-height: 18px;
}
.title-english {
  font-size: 22px;
  margin-top: 16px; 
}
.song-content {
  font-size: 18px;
  line-height: 20px;
}
.line {
  margin-bottom: 16px;
}
.line-text {
  line-height: 22px;
}
.lyrics-pinyin {
  font-size: 14px;
  line-height: 16px;
  color: gray;
}
.lyrics-english {
  font-size: 16px;
}