.content {
  margin-bottom: 64px;
  max-width: 720px;
  margin: 0 auto;
  padding: 32px;
}
.section {
  margin-bottom: 32px;
}
.section-header {
  margin-bottom: 16px;
}
.album-list {
}
.album-card {
  color: black;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 16px;
}
.album-card:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.album-card.disabled {
  pointer-events: none;
  cursor: default;
  border: 1px solid lightgray;
}
.album-title {
  padding-bottom: 8px;
}
.title-chinese {
  font-size: 18px;
}
.title-english {
  font-size: 16px;
}
.release-date {
  font-size: 16px;
  margin-top: 8px;
  color: gray;
}
.disabled * {
  color: lightgray;
}